pyyaml
jinja2
tqdm
termcolor
yapsy
gensim
3to2 
toposort
Pygments
pytz
diskcache
stop-words
xxhash

pillow-simd; sys_platform == 'darwin'
pillow; sys_platform == 'linux'
pillow; sys_platform == 'win32'