<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
        <style>
            h1 {
                font-size: 2rem;
                color: #2980b9;            
            }
            h2 {
                font-size: 1.5rem;
                color: #3498db;
            }
            .post {
             padding-bottom: 20px;
             border-bottom: 1px dashed #EFEFEF;
             margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <div class="row medium-8 large-7 columns">
            <h1>Post linter report</h1><br><br>
            {% for post, data in results.items() %}
            <div class="post">
                <h2>{{post}}</h2><br>
                num errors: {{data.has_errors}} - num warning: {{data.has_warnings}}
                <table>
                    <tr><th>Err Num</th><th>description</th></tr>
                    {% for i in data.info %}
                        <tr><td>{{ i[0] }}</td><td> {{ i[1]}}</td></tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
        </div>
    </body>
</html>