name: Linux
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x' 
    
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install setuptools wheel twine
    #     pip install cython cytoolz
    #     pip install numpy scipy matplotlib ipython jupyter pandas sympy nose
    #     pip install gensim==3.8.3
    #     pip install spacy==2.3.2
    #     pip install textacy==0.10.1 spacy
    #     python -m spacy download en_core_web_sm
    #     python -m pip install -U spacy-lookups-data
    #     python -m pip install -r test_requirements.txt

    - name: Install dependencies
      run: |
        pip install -r test_requirements.txt
    
    - name: Install package
      run: |
        python setup.py develop
        pip list
        
#     - name: Lint with flake8
#       run: |
#         pip install flake8
#         # stop the build if there are Python syntax errors or undefined names
#         flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
#         # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        
    - name: Test with pytest
      run: |
        pytest --cov=sitefab --cov-report=xml
    
    - name: Upload coverage to Codecov  
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests 

    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
